* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins';
}

body {
    width: 100%;
}

:root {
    --orange: #F9A826;
    --white: #FFFFFF;
    --green: #005248;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar img {
    width: 150px;
    height: 150px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 20px;
}


.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    box-shadow: inset 0 0 0 0 #F9A826;
    transition: ease-out 0.3s;
    border-radius: 15px;
}

.menu-btn:hover {
    box-shadow: inset 150px 0 0 0 #F9A826;
    transition: ease-out 0.3s;
}

.home-btn {
    transition: ease-out 0.4s;
}

.home-btn:hover {
    color: #C98800;
    transform: scale(1.5);
    transition: color .25s ease-in-out .85s, transform .25s ease-out;
}

.home-btn a:hover {
    color: var(--orange);
}

.project-btn {
    transition: ease-out 0.4s;
}

.project-btn:hover {
    transform: scale(1.5);
    transition: color .25s ease-in-out .85s, transform .25s ease-out;
}

.project-btn a:hover {
    color: var(--orange);
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* height: 100vh; */
    min-height: 650px;
    padding: 40px 40px 0 40px;

}

.hero h1 {
    color: var(--orange);
}

@media only screen and (max-width: 300px) {
    .profile-image {
        display: none;
    }

}


@media only screen and (max-width: 600px) {
    .hero {
        display: flex;
        flex-direction: column;
    }

    .hero-right {
        margin-bottom: 100px;
    }

    .logo {
        display: none;
    }

    .contact-container {
        display: flex;
        flex-direction: column-reverse;
    }



}

.hero-left {
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

@media only screen and (min-width: 700px) {
    
    .hero-left h1 {
    font-size: 80px;
    color: var(--orange)
    }

    .text-image {
        display: none;
    }
        
}

.hero-left h2 {
    font-size: 60px;
}

.hero-left h4 {
    font-size: 30px;
}


.hero img {
    padding-top: 20px;
    max-width: 100%;
}

.socials {
    display: flex;
    padding-top: 10px;
}

.btn-link {
    padding-right: 15px;
    transition: ease-out .3s;
}

.btn-link:hover {
    fill: #F9A826;
    transform: scale(1.5);
    transition: fill .35s ease-in-out .05s, transform .15s ease-out;
}

.btn-git {
    transition: ease-out .3s;
}

.btn-git:hover {
    fill: #F9A826;
    transform: scale(1.5);
    transition: fill .35s ease-in-out .05s, transform .15s ease-out;
}

.wave-wrapper {
    position: relative;
    z-index: 100;
}

.orange-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.orange-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 122px;
}

.orange-wave .shape-fill {
    fill: var(--orange);
}


#about-section {
    background-color: var(--orange);
    /* display: flex;
    justify-content: center; */
    align-items: center;
    padding: 20px 20px;
    position: relative;
}

.white-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.white-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 187px;
}

.white-wave .shape-fill {
    fill: #FFFFFF;
}

.profile-picture-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.profile-image {
    max-width: 75%;
    box-shadow: 5px 5px 20px rgba(52, 52, 52, .5);
}


.container {
    max-width: 1000px;
    margin: 0 auto;
}
.about-info {
    background-color: var(--white);
    padding-top: 20px;
    max-width: 500px;
    text-align: center;
    margin: 3em auto 0;
    box-shadow: 1px 1px 20px rgba(52, 52, 52, .35);
}
.profile-image {
    width: 100%;
    box-shadow: 5px 5px 20px rgba(52, 52, 52, .5);
}

.about-info div {
    padding: 20px;
}

.about-info p {
    text-align: left;
    margin-bottom: 1em;
}


.about-badges {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    padding-top: 20px;
}

.badges {
    padding: 25px;
    background-image: url("images/blob-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.about-video-container {
    padding-top: 20px;
    max-width: 500px;
    text-align: center;
    margin: 3em auto 0;
}


@media only screen and (max-width: 600) {
    .about-video-container iframe {
        height: auto;
        width: auto;
    }
}



.profile-container {
    flex-wrap: wrap;
    justify-content: center;

}


.about-badges {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    box-shadow: 1px 1px 10px rgba(52, 52, 52, .5);
    margin-bottom: 150px;
    

}

.badges {
    padding: 25px;
    background-image: url("images/blob-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.project-card {
    height: 400px;
    box-shadow: 5px 5px 20px rgb(198, 198, 198);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.project-card p {
    padding: 0 10px;
    text-align: center;
}


.project-image {
    margin-top: 25px;
    width: 150px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
    
}

.project-link {
    text-decoration: none;
    color: #ef744b
}

#project-container {
    width: 90%;
    margin: auto;
    padding-top: 50px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: #000000;
}

#contact-container {
    background-color: var(--green);
    background-image: url("images/blob.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    position: relative;
}


#contact-container img {
    max-width: 75%;
    padding-top: 20px;
}

@media only screen and (max-width: 700px) {
    .bigphone-image {
        display: none;
    }
}

.contact-info {
    align-items: center;
    flex-wrap: wrap;

    
}

.contact-info img {
    max-width: 100%;
    padding-bottom: 30px;

}


.contact-form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;

}

input, textarea {
    width: 100%;
    font-weight: 600;
}

form {
    background-color: var(--white);
    padding: 20px;
    border-radius: 5%;
    box-shadow: inset 5px 5px 20px rgba(0, 0, 0, .20);
}

.button {
    width: 25%;
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    box-shadow: inset 0 0 0 0 #F9A826;
    transition: ease-out 0.6s;
    border-radius: 15px;
    padding: 5px;
}

.submit-btn:hover {
    box-shadow: inset 150px 0 0 0 #F9A826;
    transition: ease-out 0.7s;
}



